uriparams_sample/src/main/mule/uriparams_sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8cba4dc9-85d6-47d3-8b2a-41766b322c83" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="uriparams_sampleFlow" doc:id="b323343b-ed01-4764-b70e-bf47347c9725" >
		<http:listener doc:name="Listener" doc:id="b4ff8558-19bb-4829-8950-526092e1eb66" config-ref="HTTP_Listener_config" path="/uriParam/{ID}"/>
		<choice doc:name="Choice" doc:id="37dc355a-5b5b-4b12-9322-cb782bceec23" >
			<when expression="#[attributes.uriParams.ID== '001']">
				<ee:transform doc:name="Transform Message" doc:id="c4a8df88-b6dd-49ab-92fe-62becaf164c7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "first uri param execution"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[attributes.uriParams.ID == '002']">
				<ee:transform doc:name="Transform Message" doc:id="f24f74b6-f069-458b-8df9-7c09c9e5ebde" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"skljd": "second uri param execution"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="a6cdc241-8037-4b6c-b42f-48fa6cce286d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "default execution"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
